{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Notes</title>
    <!-- Bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        .custom-card {
            padding: 1rem;
            background: white;
            border: 1px solid #D3D3D3;
            border-radius: .25rem;
            overflow: hidden;
        }
    </style>
</head>
<body>
    {% if messages %}
    {% for message in messages %}
    <div class="notification {{message.tags}} is-light">
        <div class="is-flex is-align-items-center is-justify-content-space-between">
            <span>{{message}}</span>
            <button class="delete is-large"></button>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="m-4">
        <div class="buttons are-small">
            <button class="button is-outlined" id="click-to-copy" data-clipboard-text="{{ request.build_absolute_uri }}">Copy link</button>
            {% if request.session.password_to_edit %}
            <button class="button is-outlined"><a href="{% url 'notes:note_edit' note.secondary_id %}">Edit</a></button>
            {% endif %}
        </div>
        <div id="failed-to-copy"></div>
        <br/><br/>
        <div class="custom-card">
            <p>{{note.body}}</p><br/>
            <p class="has-text-grey has-text-right is-size-7">
            Created : {{note.created}}<br/>
            {% if note.created != note.edited %}
            Edited : {{note.edited}}
            {% endif %}
            </p>
        </div>
    </div>
    <script src="{% static 'js/clipboard.js' %}"></script>
    <script>document.addEventListener("DOMContentLoaded",()=>{(document.querySelectorAll(".notification .delete")||[]).forEach(a=>{let b=a.parentNode;a.addEventListener("click",()=>{b.parentNode.parentNode.removeChild(b.parentNode)})})})</script>
    <script>const clickToCopy=document.querySelector("#click-to-copy"),failedToCopy=document.querySelector("#failed-to-copy");let clipboard=new ClipboardJS("#click-to-copy");clipboard.on("success",function(a){clickToCopy.classList.add("is-success"),clickToCopy.innerText="Copied"}),clipboard.on("error",function(a){clickToCopy.classList.add("is-danger"),failedToCopy.innerText="Failed to copy. Please copy from the address bar."})</script>
</body>
</html>