{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Notes</title>
    <!-- Bulma css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    {% if messages %}
    {% for message in messages %}
    <div class="notification {{message.tags}} is-light">
        <div class="is-flex is-align-items-center is-justify-content-space-between">
            <span>{{message}}</span>
            <button class="delete is-large"></button>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    
    <div class="m-4">
        <div class="buttons are-small">
            <button class="button is-outlined" id="click-to-copy" data-clipboard-text="{{ request.build_absolute_uri }}">Copy link</button>
            <button class="button is-outlined" onclick="history.go(-1)">Back</button>
        </div>

        <form method="post">
            <h1 class="has-text-centered is-size-4">Edit note</h4>
            {{ note_form.non_field_errors }}
            {% csrf_token %}
            
            <div class="field my-2">
                <label for="{{note_form.body.name}}" class="{% if note_form.body.field.required %}label{% endif%}">{{ note_form.body.label_tag }}</label>
                <div class="control">
                    <textarea name="{{note_form.body.name}}" class="textarea {% if note_form.body.errors %}is-danger{% endif %}" placeholder="Write down your note here.." required="{{ note_form.body.field.required }}" cols="{{note_form.body.field.widget.attrs.cols}}" rows="{{note_form.body.field.widget.attrs.rows}}">{% if note_form.body.value %}{{ note_form.body.value }}{% endif %}</textarea>
                </div>
                <span class="field-error my-3 has-text-danger" id="error{{field.name}}">
                    {{ note_form.body.errors }}
                </span>
                <span class="help">
                    {{ note_form.body.field.help_text }}
                </span>
            </div>
            
            <br/>
            <div class="buttons is-centered">
                <button type="submit" class="button">Edit Note</button>
            </div>
        </form>
    </div>
    <script src="{% static 'js/clipboard.js' %}"></script>
    <script>const clickToCopy=document.querySelector("#click-to-copy"),failedToCopy=document.querySelector("#failed-to-copy");let clipboard=new ClipboardJS("#click-to-copy");clipboard.on("success",function(a){clickToCopy.classList.add("is-success"),clickToCopy.innerText="Copied"}),clipboard.on("error",function(a){clickToCopy.classList.add("is-danger"),failedToCopy.innerText="Failed to copy. Please copy from the address bar."})</script>
    <script>document.addEventListener("DOMContentLoaded",()=>{(document.querySelectorAll(".notification .delete")||[]).forEach(a=>{let b=a.parentNode;a.addEventListener("click",()=>{b.parentNode.parentNode.removeChild(b.parentNode)})})})</script>
</body>
</html>